<div id="lines">
  <form ng-submit="showLine(lineName)">
    <input list="lineListInput" name="browser2" ng-model="lineName">
    <datalist id="lineListInput">
      <option ng-repeat="line in lineList">{{line.name}}</option>
    </datalist>
  </form>


    <ul>
        <div ng-repeat="mode in lists" ng-init="modeIndex = $index">
            <h1>{{filter[modeIndex] | uppercase}}</h1>
            <div ng-repeat="stop in mode">
                <button ng-click="redirectToStop(stop.name);">{{stop.name}}</button>
                {{stop.delayed}}
            </div>
        </div>
    </ul>


</div>
