<div id="overview">
  <div id = "search">
    <div class = "text">YOU ARE HERE:</div>
    <input class = "topinput" type="text" name="input" ng-model="locationname" disabled>
  </div>

  <br>

  <input type="button" value="Load Nearest" ng-click="listLocationStops();">
  <input type="button" value="Load Map" ng-click="listMapStops()">
  <input type="button" value="Load Car2Go" ng-click="loadCar2Go()">

  <br>
  <br>

  <ul>
    <div class="recordlv1" ng-repeat="mode in lists" ng-init="modeIndex = $index">
      <h1>{{filter[modeIndex] | uppercase}}</h1>
        <img class="modeicon" src="images/bus.png" ng-show="modeIndex==0">
        <img class="modeicon" src="images/tram.png" ng-show="modeIndex==1">
        <img class="modeicon" src="images/u-bahn.png" ng-show="modeIndex==2">

      <div class="recordlv2" ng-repeat="stop in mode">
        <button ng-click="redirectToStop(stop.name);">{{stop.name}}</button>
        <div ng-repeat="platform in stop.platforms">
          <li  class="recordlv3" style="display:inline" ng-repeat="line in platform.lines" ng-show="line.type == filter[modeIndex]">
            {{line.name}}
            {{line.direction}}
              <img class="delayicon" src="images/green.png" ng-show="line.delayed==0">
              <img class="delayicon" src="images/yellow.png" ng-show="line.delayed==1">
              <img class="delayicon" src="images/red.png" ng-show="line.delayed==2">
            <ul>
              <li style="display:inline" ng-repeat="departure in line.departures | limitTo: 3">
                {{departure.countdown}}
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </ul>


</div>
