<div id="overview">

  <div id = "search">
    <div class = "text">YOU ARE HERE:</div>
    <input class = "topinput" type="text" name="input" ng-model="locationname" disabled>
  </div>

  <br>

  <input type="button" value="Load Nearest" ng-click="listLocationStops();">
  <input type="button" value="Load Map" ng-click="listMapStops()">

  <br>

  PUBLIC TRANSPORT STATIONS
  <br>
  <!--<img class="icon" src="images/icons/metro.png">-->

  <ul>
    <div ng-repeat="mode in lists" ng-init="modeIndex = $index">
      <h1>{{filter[modeIndex] | uppercase}}</h1>
      <div ng-repeat="stop in mode">
        <button ng-click="redirectToStop(stop.name);">{{stop.name}}</button>
        <div ng-repeat="platform in stop.platforms">
          <li style="display:inline" ng-repeat="line in platform.lines" ng-show="line.type == filter[modeIndex]">
            {{line.name}}
            {{line.direction}}
            {{line.delayed}}
            <ul>
              <li style="display:inline" ng-repeat="departure in line.departures | limitTo: 3">
                {{departure.countdown}}
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </ul>


  <br>
  <br>
  <input type="button" value="Load Car2Go" ng-click="loadCar2Go()">


</div>
