<div id="stops">

    <input type="button" value="Load Stop with API" ng-click="loadStopWithAPI(rbl)">
    <input type="number" name="input" ng-model="stopID">
    <br>
    <br>

    {{scope.stopApis}}



    <!--
    {{ monitors[0].locationStop.properties.title}}
    <div ng-repeat="monitor in monitors">
        <ul ng-repeat="line in monitor.lines">
            <li ng-repeat="departures in line.departures">
                {{line.name}}
                <ul>
                    <li ng-repeat="departure in departures">
                        {{departure.departureTime.countdown}} <br>
                        {{departure.departureTime.timePlanned}} <br>
                        {{departure.departureTime.timeReal}}

                    </li>
                </ul>
            </li>
        </ul>
    </div>

    -->

</div>