

body
{
    font-size:       62.5%;
    margin:          0;
    padding:         0;
    background-color: #ffffff;
    font-family:     'lucida grande', arial, tahoma, sans-serif;
}

#container
{
    margin:          0 auto;
    padding-top:     0px;
    width:           100%;
    height:          100vh;
    position:        relative;
    background-color:  #333;
}

#header
{
    margin:          0 auto;
    width:           100%;
    height:          80px;
    float:            left;
    /*background-color: #000000;*/
    background-color: #d5d5d5;
}
#imglogo{
    position: absolute;
    top: 5px;
    left: 20px;
    height: 70px;

    z-index: 100;
}

#menu
{
  margin:          0 0px;
  height:          40px;
  padding:         0px 0;
  position:        absolute;
  top:             20px;
  left:            450px;
  font-family:     Arial;
  font-size:       14px;
  font-weight: bold;

}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: #797979;


}

#menu li {
  cursor: pointer;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 60%;
  text-align: center;
  padding-top: 8px;
  border-radius: 15px;
  border: 2px solid #797979;
}


#menu li:hover:not(.active) {
  background: #ffcc33;
}
.active {
  background: #3f3f3f;
  color: #ffcc33;
}


.location_button{
    cursor: pointer;
    height: 40px;
    bottom: 25px;
    left:   5px;
    position: absolute;
}


#content {
    width: 100%;
    background-color: #99a1fd;
}
#right {
    height: calc(100vh - 80px - 20px);
    width: 60%;
    float: left;
}

#left {
    width:            40%;
    float:            left;
    height:           calc(100vh - 80px - 25px);
    background-color: #ffffff;
    padding-top:      0px;
    padding-bottom:   5px;
    overflow:         scroll;
}


#tab
{
    padding: 0 0 0 0;
}

p { color: #505050;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 25px;
    margin: 0 0 20px;
}

#search {
  background-color: #d9d9d9;
  padding-bottom:   5px;
  height: 40px;
}
div.text{
  float: left;
  color: #797979;
  font-family:     Arial;
  font-size:       14px;
  font-weight: bold;
  margin: 15px 0 0 20px;
}
input.topinput{
  margin: 12px 0 0 20px;
  border-radius:   15px;
  font-family:     Arial;
  font-size:       14px;
  width: 300px;
}






#clear {
    clear: both;
}


h1
{
    margin:          0;
    font-weight:     normal;
    color:           #6A7919;
    font-size:       2.5em;
    font-family:Times;
}

h2
{
    margin:          0;
    display:         inline;
    position:        relative;
    top:             -1.5em;
    left:            2em;
    font-size:       1.8em;
    font-weight:     normal;
    color:           #94c258;
}

h3
{
    margin:          0;
    font-size:       1.5em;
    font-weight:     normal;
    color:           #94C258;
}

#footer
{
    margin:          0 auto;
    width:           100%;
    height:          20px;
    background-color: #d9d9d9;

}

#footer span
{
    display:         block;
    position:        relative;
    font-family:    Tahoma;
    font-size:       1.2em;
    text-align:      center;
    padding:         3px;
    color: #ffffff;
}

#map
{
    height: 100%;
}

