<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	<title>PT4U</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<!--<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="css/mobile-device.css" />
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body ng-controller="viewController">
    <div id="container">
        <div id="header">
            <img id="imglogo" src="images/logo.png" alt="PT4U">
            <div id="menu" >
              <ul>
                <li ng-repeat="tab in tabs"
                    ng-class="{active:isActiveTab(tab.url)}"
                    ng-click="onClickTab(tab)">{{tab.title}}</li>
              </ul>
            </div>
        </div>
        <div id="content" >
            <div >
                <div id="left">
                    <div id="tab" ng-controller="panelController">
                      <div ng-include="currentTab"></div>
                    </div>

                </div>
            </div>
            <div id="right" ng-controller="mapController">
                <div style="height: 100%;">
                  <div id="map"></div>
                </div>
              <img class="sight"src="images/sight.png">-->
            </div>
            <div id="clear"></div>
        </div>
        <div id="footer"> <span>Copyright © 2016 | All Rights Reserved  </span></div>
    </div>
	<script src="node_modules/angular/angular.js"></script> <!-- angular.min.js -->
	<script src="app.module.js"></script>
    <script src="confiq.js"></script>
    <script src="panels/tabs/tabscontrol.js"></script>
    <script src="map/map.controller.js"></script>
    <script src="panels/panel.controller.js"></script>
    <script src="panels/charts.controller.js"></script>

</body>
</html>
